@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
/* SET UP */
* {
  box-sizing: border-box; }

ul {
  padding-left: 1.5rem; }

body {
  margin: 0 auto;
  background-color: snow;
  max-width: 1000px;
  color: #333333;
  font-family: 'Poppins', sans-serif; }

.item {
  border: 4px solid tomato;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  background-color: white;
  padding: 8px; }

.height-50 {
  height: 50vh; }

.pancake-stack {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh; }

.grid-columns {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  height: 100vh; }

.grid-columns .item-1 {
  grid-column: 2 / span 4; }

.grid-columns .item-2 {
  grid-column: 6 / span 6; }

.responsive-grid-1 {
  display: grid;
  grid-template-rows: auto auto 1fr auto auto auto;
  height: 100vh;
  gap: 24px; }

@media (min-width: 720px) {
  .responsive-grid-1 {
    grid-template-columns: repeat(12, 1fr); }
  .responsive-grid-1 .header {
    grid-column: 1 / span 12; }
  .responsive-grid-1 .navigation {
    grid-column: 1 / span 12; }
  .responsive-grid-1 .main {
    grid-row: 3 / 6;
    grid-column: 3 / span 10; }
  .responsive-grid-1 .sidebar {
    grid-row: 3 / 6;
    grid-column: 1 / span 2; }
  .responsive-grid-1 .ads {
    grid-column: 1 / span 2; }
  .responsive-grid-1 .footer {
    grid-column: 3 / span 10; } }

@media (min-width: 1020px) {
  .responsive-grid-1 .navigation {
    grid-column: 3 / span 8; }
  .responsive-grid-1 .main {
    grid-column: 3 / span 8; }
  .responsive-grid-1 .sidebar {
    grid-row: 2 / 6; }
  .responsive-grid-1 .ads {
    grid-row: 2 / 6;
    grid-column: 11 / span 2; }
  .responsive-grid-1 .footer {
    grid-column: 1 / span 12; } }

.responsive-grid-2 {
  display: grid;
  grid-template-areas: 'header' 'navigation' 'main' 'sidebar' 'ads' 'footer';
  grid-template-rows: auto auto 1fr auto auto auto;
  height: 100vh;
  gap: 24px; }

.responsive-grid-2 .header {
  grid-area: header; }

.responsive-grid-2 .navigation {
  grid-area: navigation; }

.responsive-grid-2 .ads {
  grid-area: ads; }

.responsive-grid-2 .sidebar {
  grid-area: sidebar; }

.responsive-grid-2 .main {
  grid-area: main; }

.responsive-grid-2 .footer {
  grid-area: footer; }

@media (min-width: 720px) {
  .responsive-grid-2 {
    grid-template-areas: 'header header header' 'navigation navigation navigation' 'sidebar main main' 'ads footer footer';
    grid-template-rows: auto auto 1fr auto; } }

@media (min-width: 1020px) {
  .responsive-grid-2 {
    grid-template-areas: 'header header header header' 'sidebar navigation navigation ads' 'sidebar main main ads' 'footer footer footer footer';
    grid-template-rows: auto auto 1fr auto; } }
